:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-black-25: #00000040;
    --color-dark: #101618;
    --color-primary: #C7E660;
    --color-primary-100: #A2BD48;
    --color-secondary: #66A4B1;

    --color-grey: #DFDFDF;
    --color-grey-100: #FAFAFA;
    --color-grey-150: #D9D9D9;
    --color-grey-200: #F2F2F2;
    --color-grey-300: #A0A0A0;


    --font-primary: 'Stolzl', sans-serif;
}