.contact-us {
    padding: 40px 0 120px;

    @media screen and (max-width: 1023.98px) {
        padding-bottom: 80px;
    }

    &__inner {
        display: flex;
        gap: 40px;

        @media screen and (max-width: 1023.98px) {
            flex-direction: column;
            gap: 24px;
        }
    }

    &__title {
        width: 100%;

        @media screen and (max-width: 1023.98px) {
            text-align: center;
        }
    }

    &__action {
        max-width: 660px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;

        @media screen and (max-width: 1023.98px) {
            max-width: 100%;
        }

        @media screen and (max-width: 559.98px) {
            flex-direction: column;
            gap: 12px;
        }
    }
}
