.news {
    overflow: hidden;
    border-bottom: 1px solid var(--color-black);

    @media screen and (max-width: 1023.98px) {
        padding: 24px 0 16px;
    }

    &__inner {
        display: grid;
        grid-template-columns: auto calc(50vw - 16px);

        @media screen and (max-width: 1023.98px) {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__right {
        padding: 16px;

        @media screen and (max-width: 1232px) {
            padding-right: 0;
        }

        @media screen and (max-width: 1023.98px) {
            padding: 0;
        }
    }

    &__left {
        padding-top: 56px;
        border-right: 1px solid var(--color-black);

        @media screen and (max-width: 1023.98px) {
            border-right: 0;
            padding-top: 0;
            position: relative;

            &::before {
                content: '';
                display: block;
                width: 100vw;
                height: 1px;
                position: absolute;
                left: -16px;
                bottom: 0;
                background-color: var(--color-black);
            }
        }
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 16px;
        margin-bottom: 40px;

        @media screen and (max-width: 1023.98px) {
            margin-bottom: 24px;
        }
    }

    &__all {
        line-height: 1.2;
        color: var(--color-secondary);
        border-bottom: 1px solid currentColor;

        @media screen and (max-width: 1023.98px) {
            font-size: 12px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        position: relative;
        padding: 32px 40px 32px 0;

        @media screen and (max-width: 1023.98px) {
            padding: 24px 0px;
        }

        @media (any-hover: hover) {

            &:hover {
                .news__item-title {
                    color: var(--color-primary-100);
                }
            }
        }

        &:not(:first-of-type) {

            &::before {
                content: '';
                width: 100vw;
                height: 1px;
                background-color: var(--color-black);
                position: absolute;
                right: 0;
                top: 0;

                @media screen and (max-width: 1023.98px) {
                    right: auto;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        &:nth-of-type(even) {
            &::after {
                content: '';
                width: 100vw;
                height: 100%;
                background-color: var(--color-grey-200);
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;

                @media screen and (max-width: 1023.98px) {
                    right: auto;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        &-info {
            padding-right: 60px;

            @media screen and (max-width: 1023.98px) {
                padding-right: 50px;
            }
        }

        &-date {
            font-size: 14px;
            line-height: 1.25;
            margin-bottom: 16px;

            @media screen and (max-width: 1023.98px) {
                font-size: 12px;
                margin-bottom: 12px;
            }
        }

        &-title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid var(--color-primary);
            transition: color 0.25s ease-in-out;

            @media screen and (max-width: 1023.98px) {
                font-size: 16px;
                margin-bottom: 12px;
                padding-bottom: 12px;
            }
        }

        &-desc {
            font-size: 14px;
            line-height: 1.2;
        }

        &-icon {
            --size: 44px;
            --iconSize: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: var(--size);
            height: var(--size);
            background-color: var(--color-primary);
            flex-shrink: 0;
            border: none;
            outline: none;
            color: var(--color-black);
            cursor: pointer;
            transition: background-color 0.25s ease-in-out;
            position: absolute;
            bottom: 16px;
            right: 16px;

            @media screen and (max-width: 1023.98px) {
                bottom: 16px;
                right: 0;
            }

            @media screen and (max-width: 767.98px) {
                --size: 32px;
                --iconSize: 20px;
            }

            &::before {
                content: '';
                width: 28px;
                height: 28px;
                mask: url('../../images/icons/slider-chevron-right.svg') center center / var(--iconSize) no-repeat;
                -webkit-mask: url('../../images/icons/slider-chevron-right.svg') center center / var(--iconSize) no-repeat;
                background-color: var(--color-dark);
            }
        }
    }

    &__main {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 1;
        color: var(--color-white);

        @media screen and (max-width: 1023.98px) {
            min-height: 400px;
        }

        @media screen and (max-width: 767.98px) {
            min-height: 320px;
        }

        &:hover {
            .news__main-title {
                color: var(--color-primary-100);
            }
        }

        &-bg {
            position: absolute;
            inset: 0;
            z-index: -1;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0;
                background: linear-gradient(89.83deg, #101618 0.14%, rgba(16, 22, 24, 0) 99.85%);
            }
        }

        &-info {
            max-width: 560px;
            padding-right: 150px;

            @media screen and (max-width: 1023.98px) {
                padding-right: 50px;
            }
        }

        &-date {
            font-size: 14px;
            line-height: 1.25;
            margin-bottom: 16px;

            @media screen and (max-width: 1023.98px) {
                font-size: 12px;
                margin-bottom: 12px;
            }
        }

        &-title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid var(--color-primary);
            transition: 0.25s ease-in-out;

            @media screen and (max-width: 1023.98px) {
                font-size: 16px;
                margin-bottom: 12px;
                padding-bottom: 12px;
            }
        }

        &-desc {
            font-size: 14px;
            line-height: 1.2;
        }

        &-icon {
            --size: 44px;
            --iconSize: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: var(--size);
            height: var(--size);
            background-color: var(--color-primary);
            flex-shrink: 0;
            border: none;
            outline: none;
            color: var(--color-black);
            cursor: pointer;
            transition: background-color 0.25s ease-in-out;
            position: absolute;
            bottom: 16px;
            right: 20%;

            @media screen and (max-width: 1023.98px) {
                bottom: 16px;
                right: 16px;
            }

            @media screen and (max-width: 767.98px) {
                --size: 32px;
                --iconSize: 20px;
            }

            &::before {
                content: '';
                width: 28px;
                height: 28px;
                mask: url('../../images/icons/slider-chevron-right.svg') center center / var(--iconSize) no-repeat;
                -webkit-mask: url('../../images/icons/slider-chevron-right.svg') center center / var(--iconSize) no-repeat;
                background-color: var(--color-dark);
            }
        }
    }
}