.partners {
    padding-top: 120px;

    @media screen and (max-width: 991.98px) {
        padding-top: 80px;
    }

    &__title {
        max-width: 900px;
        margin-bottom: 40px;

        @media screen and (max-width: 767.98px) {
            margin-bottom: 24px;
        }
    }

    &__filters {
        display: flex;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        margin-bottom: 40px;

        @media screen and (max-width: 767.98px) {
            margin-bottom: 24px;
        }

        @media screen and (max-width: 559.98px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px 8px;
        }

        &-btn {
            padding: 11px 39px;
            background-color: transparent;
            border: 1px solid var(--color-primary);
            border-radius: 30px;
            font-family: var(--font-primary);
            font-size: 16px;
            line-height: 1.25;
            text-align: center;
            cursor: pointer;

            &.is-active {
                background-color: var(--color-primary);
            }
        }
    }

    &__inner {
        position: relative;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        border: 1px solid var(--color-grey-150);
        border-right: 0;
        border-bottom: 0;

        @media screen and (max-width: 991.98px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media screen and (max-width: 767.98px) {
            grid-template-columns: repeat(3, 1fr);
        }

        &.is-locked {

            .partners__item {
                pointer-events: none;
            }

            .partners__item-logo {
                filter: grayscale(1);
            }

            .partners__item-details {
                pointer-events: all;
            }
        }
    }

    &__item {
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        border-right: 1px solid var(--color-grey-150);
        border-bottom: 1px solid var(--color-grey-150);
        cursor: pointer;

        @media screen and (max-width: 767.98px) {
            height: 94px;
        }

        &-logo {
            display: block;
            max-width: 100%;

            @media screen and (max-width: 767.98px) {
                transform: scale(0.7);
            }
        }
    }

    &__popup {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        display: none;
        padding: 40px 32px 32px;
        background-color: var(--color-white);
        border: 1px solid var(--color-grey-150);
        z-index: 10;


        &.is-open {
            display: block;
        }

        @media screen and (max-width: 767.98px) {
            padding: 24px;
            width: 100%;
            // position: fixed;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            border: 1px solid var(--color-grey-150);
            z-index: 10;
        }

        &-close {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 18px;
            height: 18px;
            background: url('../images/icons/close.svg') center center / 18px no-repeat;
            border: none;
            outline: none;
            cursor: pointer;
        }

        &-top {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
        }

        &-logo {
            display: block;
            max-width: 120px;
            margin-right: 22px;
        }

        &-info {
            padding-left: 20px;
            border-left: 1px solid var(--color-grey-150);
        }

        &-name {
            font-size: 20px;
            line-height: 1.2;
            font-weight: 500;
        }

        &-country {
            font-size: 16px;
            line-height: 1.25;
        }

        &-desc {
            font-weight: 500;
            margin-bottom: 24px;
        }

        &-labels {
            display: flex;
            align-items: center;
            gap: 8px;
            flex-wrap: wrap;
        }

        &-label {
            padding: 6px 20px;
            font-size: 14px;
            line-height: 1.29;
            text-align: center;
            border: 1px solid var(--color-primary);
            background-color: var(--color-white);
            border-radius: 30px;
        }
    }
}