@font-face {
    font-family: Stolzl;
    src: url('../fonts/Stolzl-Light.woff') format('woff'),
        url('../fonts/Stolzl-Light.woff2') format('woff');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: Stolzl;
    src: url('../fonts/Stolzl-Regular.woff') format('woff'),
        url('../fonts/Stolzl-Regular.woff2') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Stolzl;
    src: url('../fonts/Stolzl-Medium.woff') format('woff'),
        url('../fonts/Stolzl-Medium.woff2') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}