.header {
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-black);
    z-index: 99;
    min-height: 80px;

    @media screen and (max-width: 1199.98px) {
        min-height: unset;
    }

    &.is-fixed {

        .header__logo {

            &-icon {
                display: none;
            }

            &-img {
                display: flex;
            }
        }
    }

    &__inner {
        display: flex;
        align-items: stretch;
        border-left: 1px solid var(--color-black);
        border-right: 1px solid var(--color-black);

        @media screen and (max-width: 1199.98px) {
            border: none;
        }
    }

    &__main {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-grow: 1;
        padding: 22px 24px;
        border-right: 1px solid var(--color-black);

        @media screen and (max-width: 1279.98px) {
            padding: 22px 20px;
        }

        @media screen and (max-width: 1199.98px) {
            border-right: 0;
            padding: 10px 0;
            justify-content: space-between;
        }
    }

    &__burger {
        display: none;

        @media screen and (max-width: 1199.98px) {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: var(--color-primary);

            span {
                position: absolute;
                width: 18px;
                height: 2px;
                background-color: var(--color-dark);

                &:nth-of-type(1) {
                    left: 11px;
                    top: 14px;
                }

                &:nth-of-type(2) {
                    left: 11px;
                    top: 20px;
                }

                &:nth-of-type(3) {
                    left: 11px;
                    top: 26px;
                }
            }

            &.is-active {

                span {

                    &:nth-of-type(1) {
                        transform: rotate(45deg);
                        top: 19px;
                    }

                    &:nth-of-type(2) {
                        opacity: 0;
                    }

                    &:nth-of-type(3) {
                        transform: rotate(-45deg);
                        top: 19px;
                    }
                }
            }
        }
    }

    &__logo {
        display: block;

        &-icon {
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;

            img {
                display: block;
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        &-img {
            width: 104px;
            height: 35px;
            display: none;

            img {
                display: block;
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }

    &__contacts {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 20px 40px;
        border-right: 1px solid var(--color-black);

        &.is-hidden {
            display: none;
        }

        @media screen and (max-width: 1279.98px) {
            display: none;
        }

        &-link {
            font-size: 12px;
            line-height: 1.2;
            color: var(--color-secondary);
            transition: color 0.25s ease-in-out;

            @media (any-hover: hover) {
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }

    &__search {
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid var(--color-black);
        cursor: pointer;

        &.is-active {
            width: 240px;

            .header__search-form {
                display: block;
            }

            .header__search-btn {
                display: none;
            }
        }

        &-form {

            width: 100%;
            padding: 0 15px;
            display: none;
        }

        &-input {
            width: 100%;
            padding: 8px 24px 8px 0;
            font-family: var(--font-primary);
            font-weight: 400;
            color: var(--color-dark);
            font-size: 14px;
            line-height: 1.25;
            border: none;
            border-radius: 0;
            background: url('../images/icons/search.svg') center right/ 19px no-repeat, transparent;
            outline: none;
            border-bottom: 1px solid var(--color-dark);

            &::placeholder {
                color: var(--color-dark);
            }

            &:focus::placeholder {
                opacity: 0;
            }
        }

        @media screen and (max-width: 1199.98px) {
            display: none;
        }

        &-btn {
            width: 20px;
            height: 20px;
            cursor: pointer;
            transition: opacity 0.25s ease-in-out;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    &__lang {
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1199.98px) {
            display: none;
        }

        &-change {
            font-size: 12px;
            line-height: 1.2;
            color: var(--color-secondary);
            border-bottom: 1px solid currentColor;
            cursor: pointer;
            transition: color 0.25s ease-in-out;

            @media (any-hover: hover) {
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }

    &__nav {

        flex-grow: 1;

        @media screen and (max-width: 1199.98px) {
            display: none;
        }

        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 32px;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &-item {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            &--dropdown {

                .header__nav-link {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    &::after {
                        content: '';
                        display: block;
                        width: 12px;
                        height: 6px;
                        mask: url('../images/icons/chevron-down.svg') center center / 12px no-repeat;
                        -webkit-mask: url('../images/icons/chevron-down.svg') center center / 12px no-repeat;
                        background-color: currentColor;

                    }
                }
            }
        }

        &-link {
            font-size: 12px;
            line-height: 1.2;
            text-transform: uppercase;
        }
    }
}