.header {
    border-bottom: 1px solid var(--color-black);

    &__inner {
        display: flex;
        align-items: stretch;
        border-left: 1px solid var(--color-black);
        border-right: 1px solid var(--color-black);

        @media screen and (max-width: 1023.98px) {
            border: none;
        }
    }

    &__main {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-grow: 1;
        padding: 24px;
        border-right: 1px solid var(--color-black);

        @media screen and (max-width: 1279.98px) {
            padding: 24px 20px;
        }

        @media screen and (max-width: 1023.98px) {
            border-right: 0;
            padding: 10px 0;
            justify-content: space-between;
        }
    }

    &__burger {
        display: none;

        @media screen and (max-width: 1023.98px) {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: var(--color-primary);

            span {
                position: absolute;
                width: 18px;
                height: 2px;
                background-color: var(--color-dark);

                &:nth-of-type(1) {
                    left: 11px;
                    top: 14px;
                }

                &:nth-of-type(2) {
                    left: 11px;
                    top: 20px;
                }

                &:nth-of-type(3) {
                    left: 11px;
                    top: 26px;
                }
            }

            &.is-active {

                span {

                    &:nth-of-type(1) {
                        transform: rotate(45deg);
                        top: 19px;
                    }

                    &:nth-of-type(2) {
                        opacity: 0;
                    }

                    &:nth-of-type(3) {
                        transform: rotate(-45deg);
                        top: 19px;
                    }
                }
            }
        }
    }

    &__logo {
        display: block;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 20px 40px;
        border-right: 1px solid var(--color-black);

        @media screen and (max-width: 1279.98px) {
            display: none;
        }

        &-link {
            font-size: 12px;
            line-height: 1.2;
            color: var(--color-secondary);
            transition: color 0.25s ease-in-out;

            @media (any-hover: hover) {
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }

    &__search {
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid var(--color-black);
        cursor: pointer;

        @media screen and (max-width: 1023.98px) {
            display: none;
        }

        &-btn {
            width: 20px;
            height: 20px;
            cursor: pointer;
            transition: opacity 0.25s ease-in-out;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    &__lang {
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1023.98px) {
            display: none;
        }

        &-change {
            font-size: 12px;
            line-height: 1.2;
            color: var(--color-secondary);
            border-bottom: 1px solid currentColor;
            cursor: pointer;
            transition: color 0.25s ease-in-out;

            @media (any-hover: hover) {
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }

    &__nav {

        @media screen and (max-width: 1023.98px) {
            display: none;
        }

        &-list {
            display: flex;
            align-items: center;
            gap: 46px;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &-item {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &-link {
            font-size: 12px;
            line-height: 1.2;
            text-transform: uppercase;
        }
    }
}